
body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    gap: 16px;
}

.playboard {
    flex-shrink: 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
}

.controls {
    text-align: center;
    justify-content: start;
    align-self: start;
    flex: 0 1 auto;
    flex-wrap: wrap;
}
.off, .on {
    
    height: 40px;
    width: 40px;
}

.off {
    background-color: white;
    border: 1px solid;
}

.on {
    background-color: black;
}