
body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    gap: 16px;
}

.playboard {
    flex-shrink: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 600px;
}

.controls {
    text-align: center;
    justify-content: start;
    align-self: start;
    flex: 0 1 auto;
    flex-wrap: wrap;
}
